nav{
    background-color: black;
    overflow: hidden;
}
nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 20px;
    float: left;
    font-size:1.5em;
}
nav a:hover{
    color: tomato;
}
nav a:visited{
    color:royalblue;
}